:root {
  --background-green: #00abe1;
  --accent-red: #161f6d;
}

.gameSquareText {
  font-size: 3em;
  color: var(--accent-red);
}

.gameSquare {
  display: inline;
  text-align: center;
}

.buttons {
  background-color: #161f6d;
  color: white;
}

#resetButton {
  margin-bottom: 2%;
}

label {
  color: var(--accent-red);
}

p {
  font-size: 2em;
  color: white;
}

html {
  background-color: var(--background-green);
}

header {
  background-color: var(--accent-red);
  width: 100%;
}

h1 {
  color: var(--background-green);
  width: 100%;
  height: 100%;
  background-color: var(--accent-red);
  margin: 0% 0% 0% 0%;
  font-size: 3em;
}

footer {
  font-size: 1.5em;
}

.orNotToDisplay {
  display: none;
}

.main-grid {
  display: grid;
  grid-template-areas:
    "L1 M1 R1"
    "L2 M2 R2"
    "L3 M3 R3";
  width: 300px;
  height: 300px;
  border: 4px solid var(--accent-red);
}

#main-grid {
  margin-bottom: 3%;
}

.center {
  display: flex;
  justify-content: center;
}

.L1 {
  grid-area: L1;
  border: 2px solid var(--accent-red);
  width: 100px;
  height: 100px;
  background-color: var(--background-green);
  text-align: center;
  margin: 0;
  left: 50%;
  top: 50%;
}

.L2 {
  grid-area: L2;
  border: 2px solid var(--accent-red);
  width: 100px;
  height: 100px;
  background-color: var(--background-green);
  text-align: center;
}

.L3 {
  grid-area: L3;
  border: 2px solid var(--accent-red);
  width: 100px;
  height: 100px;
  background-color: var(--background-green);
  text-align: center;
}

.M1 {
  grid-area: M1;
  border: 2px solid var(--accent-red);
  width: 100px;
  height: 100px;
  background-color: var(--background-green);
  text-align: center;
}

.M2 {
  grid-area: M2;
  border: 2px solid var(--accent-red);
  width: 100px;
  height: 100px;
  background-color: var(--background-green);
  text-align: center;
}

.M3 {
  grid-area: M3;
  border: 2px solid var(--accent-red);
  width: 100px;
  height: 100px;
  background-color: var(--background-green);
  text-align: center;
}

.R1 {
  grid-area: R1;
  border: 2px solid var(--accent-red);
  width: 100px;
  height: 100px;
  background-color: var(--background-green);
  text-align: center;
}

.R2 {
  grid-area: R2;
  border: 2px solid var(--accent-red);
  width: 100px;
  height: 100px;
  background-color: var(--background-green);
  text-align: center;
}

.R3 {
  grid-area: R3;
  border: 2px solid var(--accent-red);
  width: 100px;
  height: 100px;
  background-color: var(--background-green);
  text-align: center;
}

.fiftyPercentWidth {
  width: 50%;
}

#submitBtn {
  margin-top: 5%;
}
